//background
$bc-primary:#AA0601;
$bc-secondary:#AA06010D;

//font-size
$font-xxs:8px;
$font-xs:10px;
$font-s:16px;
$font-m:24px;
$font-l:45px;
$font-xl:64px;
$font-xxl:72px;

//color
$color-primary:#650300;
$color-black:black;
$color-red:#AA0601;
$color-links:white;
